@font-face {
	font-family: "MrRobot";
	src: url('../font/MrRobot.ttf');
}

body {
  background-color: #F7F7F7;
  font-family: 'Raleway', sans-serif;
  color: #333333;
  font-size: 15px;
}

h3, h4 {
  color: #333333;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 60px;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: solid 3px red;
  display: inline-block;
}

p {
  line-height: 23px;
  text-align: justify;
}

p:not(:last-child) {
    margin-bottom: 23px;
}


/* Header */

header {
  position: relative;
  height: 400px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
}

.header-menu {
  position: relative;
}

header button {
  display: none;
}

@media (max-width: 768px) {
  header {
      position: fixed;
      height: 55px;
      width: 100%;
      background-image: none;
      background-color: red;
      z-index: 999;
  }
  header button {
    display: block;
    float: right;
    border: solid white 1px;
    padding: 5px;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 20px;
    width: 40px;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }
}

.header-title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: inline-block;
  text-align: center;
  font-family: 'MrRobot', sans-serif;
  font-size: 120px;
  background-color: red;
  opacity: 0.8;
  padding: 10px 30px;
}

@media (max-width: 768px) {
  .header-title {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    float: left;
    width: auto;
    /* margin: 10px 0 0 10px;*/
    font-size: 40px;
    /*padding-top: 0; */
    opacity: 1;
    background-color: transparent;
  }

}

.container {
  width: 1100px;
  margin: 0 auto;
}


@media (min-width: 769px) and (max-width: 1140px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
  width: 100%;
  padding-top: 15px;
  }
}

.card {
  margin-top: 40px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.1);
}

/* Left */
.left {
  width: 660px;
  float: left;
}

@media (max-width: 1140px) {
  .left {
    width: 100%;
    float: none;
  }
}

.article-head {
  padding: 40px;
  text-align: center;
}

.article-baseline {
  font-size: 18px;
  color: red;
}

.article-picture {
  position: relative;
}

.article-picture img{
  width: 100%;
}

.article-date {
  position: absolute;
  padding: 10px;
  bottom: 40px;
  background-color: red;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}

.article-description {
  text-align: justify;
  padding: 40px;
  line-height: 23px;
}

/* Rigth */

.right {
  width: 400px;
  float: right;
}

@media (max-width: 1140px) {
  .right {
    width: 100%;
    float: none;
  }
}

/* Description */
.card-description {
  padding: 40px;
  text-align: center;
}

.card-description img {
  border-radius: 50%;
  width: 140px;
  margin-bottom: 20px;
}

/* Social */

.card-social {
  padding: 40px;
}

.social {
  text-align: center;
}

.social li {
  display: inline-block;
  margin: 0 10px;
}

.social li > a {
  font-size: 60px;
}

.color-facebook {
  color: #3B5998;
}

.color-twitter {
  color: #61C5EC;
}

.color-linkedin {
   color: #0077B5;
}

.color-github {
  color: #6CC644;
}

/* Skills */

.card-skills {
  padding: 40px;
}

.tags li {
  padding: 15px;
  background-color: gray;
  margin: 0 5px 10px 0;
  display: inline-block;
  color: white;
}

.tags li:hover {
  background-color: red;
}

/* Previews */

.card-previews {
  padding: 40px;
}

.card-previews .preview:not(:last-child) {
  margin-bottom: 20px;
}

.preview {
  text-transform: uppercase;
  display: block;
  margin: 10px 0;
  font-size: 15px;
  color: #333333;
  text-decoration: none;
}

.preview img {
  width: 100%;
}

.preview a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  display: block;
  margin: 10px 0;
  font-size: 15px;
  color: #333333;
  text-decoration: none;
}

.preview a:hover {
  color: red;
}


@media (max-width: 1140px) {
  .card-previews {
    display: none;
  }
}

/* Contact */

.card-contact {
  padding: 40px;
  color: #FFFFFF;
  background-color: #333333;
}

.card-contact h4 {
  color: #fff;
}

.card-contact input, textarea {
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  margin: 10px 0 10px 0;
  /*box-sizing*/
  color: #333333;
  font-size: 17px;
  border: none;
}

.card-contact input:focus, textarea:focus {
  outline: none;
}

.card-contact input {
  height: 40px;
  padding: 0 10px;
}

.card-contact textarea {
  height: 150px;
  padding: 10px;
  resize: none;
}

.card-contact button {
  display: block;
  height: 50px;
  width: 100%;
  background-color: red;
  color: #FFFFFF;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
}

.card-contact button:hover {
  background-color: #D60A0A;
}

.card-contact button:focus {
  outline: none;
}

/* Clearfix */

.clearfix {
  clear: both;
}

/* Footer */

footer {
  margin-top: 40px;
  height: 50px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
}
